**/.pbi/
PowerPlatform/Integration/EEW/MqttSubs/.vs/
PowerPlatform/Integration/EEW/MqttSubs/EEWWebApiApp/obj/
PowerPlatform/Integration/EEW/MqttSubs/EEWWebApiApp/EEWWebApiApp.csproj.user
/.vs/
*.vsidx
*.wsuo
/PowerPlatform/Integration/EEW/MqttSubs/EEWWebApiApp/bin/