**/.pbi/localSettings.json
**/.pbi/cache.abf
PowerPlatform/Integration/EEW/MqttSubs/.vs/
PowerPlatform/Integration/EEW/MqttSubs/EEWWebApiApp/obj/
PowerPlatform/Integration/EEW/MqttSubs/EEWWebApiApp/EEWWebApiApp.csproj.user
